<form class="form-horizontal valid-form" {{action 'submitBegin' on='submit'}}>
  {{#each input in inputs}}
    {{component input.component validStart="validStart" validStop="validStop" input=input}}
  {{/each}}

  {{yield isLoading}}

</form>


